---
// include any `import` and `export` statements first
import BaseLayout from '../layouts/BaseLayout.astro';

// with `import`s and `export`s out of the way, include the rest of the component logic here
let title = 'astro-Skelet';
let description = 'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.';
let permalink = 'https://example.com/';
---

<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
    <h1>{title}</h1>
    <p>{description}</p>
</BaseLayout>