---
export interface Props { post: any; }

const { post } = Astro.props;
---

<article class="post-preview">
    <a href={post.url}>
        <img src={post.heroImage} alt={post.alt} width="720" heigh="420" loadin="lazy" >
        <h2 class="title">{post.title}</h2>
    </a>
    <time class="publish-date">{post.publishDate}</time>
    <p>{post.description}</p>
</article>

<style>

</style>